/* Start Global Rules */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --bod-background: #DAE0E6;
    --wnd-background: #FFFFFF;
    --wnd-box-background: #F6F7F8;
    --main-orange: #ff4500;
    --main-blue: #0079D3;
    --main-orange-hover: #fd5315;
    --main-blue-hover: #1591f0;
    --btn-txt-color: #FFFFFF;
    --post-txt-color: #222222;
    --othr-txt-color: #878a8c;
    --ico-color: #1c1c1c;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bod-background);
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--ico-color);
}

/* End Global Rules */

header {
    background-color: var(--wnd-background);
    height: 49px;
    padding: 0 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
@media (max-width:768px) {
    header {
        padding: 0;
    }
}

header .header-logo-link {
    height: 100%;
    display: flex;
    align-items: center;
}

header .header-logo-link .header-logo {
    max-height: 75%;
}

.home-communities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27rem;
    height: 3.6rem;
    background-color: var(--wnd-background);
    margin-left: 2rem;
    margin-right: 2.2rem;
    border: 1px solid transparent;
    border-radius: 4px;
    flex-shrink: 1;
}
@media (min-width:1200px) {
    .home-communities {
        flex-shrink: unset;
    }
}
@media (max-width:991px) {
    .home-communities {
        display: none;
    }
}
.home-communities:hover {
    border: 1px solid rgb(223, 223, 223);

}

.home-communities .left-side {
    display: flex;
    align-items: center;
}

.home-communities .left-side i {
    font-size: 1.9rem;
    color: var(--ico-color);
}

.home-communities .left-side h1 {
    line-height: 0;
    font-size: 1.3rem;
    color: var(--post-txt-color);
    font-weight: 600;
    margin: 0;
    margin-left: 1rem;
    margin-right: .4rem;
}

.search-box {
    flex: 1;
    background-color: var(--wnd-box-background);
    height: 75%;
    min-width: 230px;
    display: flex;
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-right: 1.5rem;

}

.search-box i {
    font-size: 2rem;
    color: var(--othr-txt-color);
    margin-left: 1.5rem;

}

.search-box:hover {
    border: 1px solid var(--main-blue);
}

.search-input {
    width: 100%;
    border: none;
    padding-left: 1rem;
    background-color: transparent;

}

.search-input:focus {
    outline: none;
}

.public-icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
@media (max-width:991px) {
    .public-icons {
        display: none;
    }
}

.public-icons::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 1px;
    height: 200%;
    background-color: #e6e6e6;

}

.public-icons i {
    font-size: 1.6rem;
}

.private-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-left: 4rem;
}
@media (max-width:991px) {
    .private-icons {
        margin-left: 0;
    }
}
@media (max-width:768px) {
    .private-icons {
        display: none;
    }
}

.private-icons i {
    font-size: 1.6rem;
}

.private-icons .fa-signs-post {
    position: relative;
    z-index: 1;
}

.private-icons .fa-signs-post::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #e6e6e6;
    z-index: -1;
}

.coins {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 35px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .1) 45.96%, hsla(0, 0%, 100%, .57) 46%, hsla(0, 0%, 100%, 0) 130%), #ffe10d;
    box-shadow: 0 2px 0 #eed000;
    border-radius: 1000vmax;
    gap: .5rem;
}

.coins span {
    font-size: 1.3rem;
}

.account-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem .5rem;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-left: 1rem;
}

.account-box:hover {
    border: 1px solid #e6e6e6;
}

.account-box .profile-picture {
    width: 32px;
    border-radius: 50%;

}

.profile-picture-box {
    position: relative;
    margin-right: 1rem;
    z-index: 1;
}

@media (min-width:1200px) {
    .profile-picture-box {
        margin-right: 0;
    }
}

.account-box .profile-picture-box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #e6e6e6;
    z-index: -1;
}

.account-box .profile-picture-box::after {
    content: "";
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #30d624;
    z-index: 1;
}

.account-box .account-info {

    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 170px;
    display: none;
}

@media (min-width:1200px) {
    .account-box .account-info {
        display: flex;
    }
}

.account-box .account-info h1 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--post-txt-color);
    margin-bottom: .4rem;
    font-weight: 500;
}

.account-box .account-info .karma {}

.account-box .account-info .karma i {
    font-size: 1.2rem;
    color: var(--main-orange);
}

.account-box .account-info .karma span {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--othr-txt-color);
}

.account-box .fa-angle-down {
    font-size: 1.6rem;
    color: var(--ico-color);
}